
/* Bootstrap Tweaks */
.bg-primary, .btn-primary {
    background-color: var(--accent) !important;
    border-color: var(--accent);
}

.btn-primary:hover {
    background-color: var(--accent-active) !important;
    border-color: var(--accent-active);
}

:root {
    --accent: #336942;
    --accent-active: #33694280;
    --bs-primary: var(--accent);
}

.container-md, .container-sm {
    max-width: 720px;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 0.7;
}